@import url(https://db.onlinewebfonts.com/c/5ebc67ab9ab9e86517c65dd6ac7c85aa?family=Dauphin);

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-family: "Dauphin";
    font-weight: 400;
    font-size: 70px;
    text-align: center;
}

hr{
    width: 60%;
}

.input{
    margin: 50px;
    text-align: center;
}

p{
    text-align: center;
    margin: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

.paraCount{
    margin: 20px;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: bold;
}